python/day 31-40/day 32/monday-motivation/mail_password.py
python/day 31-40/day 32/birthday-wisher/mail_password.py
python/day 31-40/day 33/mail_password.py
python/day 31-40/day 35/auth_keys.py
python/day 31-40/day 36/auth_keys.py
python/day 31-40/day 37/keys.py
python/day 31-40/day 38/keys.py
python/day 31-40/day 39-40/.env
python/day 41-50/day 46/.env
python/day 41-50/day 47/.env
.idea/vcs.xml